<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agil login</title>
    <link rel="stylesheet" href="/static/project/stayle.css">
</head>
<body>
    <div class="UTF-8">
        <div class="nav">
            <div class="logo">
                <a href="#">
                    <p>Kuliner Madura<p>
                </a>
            </div>
            <ul>
                <li>Home</li>
                <li>Food</li>
                <li>Hotel</li>
                <li>About</li>
                <li>Contact</li>

            </ul>
        </div>
        <div class="header">
            <h1>kuliner <span>Madura</span></h1>
        </div>

        <div class="content-header">
            <p>khususnya Daerah Jawa Timur
                terkenal dengan makanan dan kuliner yang sangat enak dan
                 sudah mendunia, salah satunya sate.</p>
                <br>
                <input type="text" nama="text" class="search-input" placeholder="cari tempat kuliner...">
                <input class="search-btn" type="button" value="cari">
        </div>
        <div class="col-img">
            <img src="gambar/r2-removebg-preview.png" alt="">
        </div>
        
    </div>
</body>
</html>